body {
  height: 100vh;
  margin: 0;
  display: flex;
  background: conic-gradient(from 0deg at 50% 50%,
      #E6F6FA 0deg,
      #E6F6FA 60deg,
      #E6F6FA 90deg,
      #B0C4FF 230deg,
      #B0C4FF 290deg,
      #E6F6FA 360deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

li:hover {
  transform: translateY(-2px) scale(1.06);
}


a {
  text-decoration: none;
}


button {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #ccc;
}

button:hover {
  transform: translateY(-2px) scale(1.06);
  background-color: #61C6DF;
  color: #FFF;
}

button svg:hover {
  fill: #fff;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #aaa;
}

/* add_buttonの挙動 */
.bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }

  40% {
    top: 0em;
  }

  43% {
    top: -0.9em;
  }

  46% {
    top: 0em;
  }

  48% {
    top: -0.4em;
  }

  50% {
    top: 0em;
  }

  100% {
    top: 0em;
  }
}

/* チェックリスト追加ボタン------------------------------------ */
.add_button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #61C6DF;
  opacity: 0.7;
  border-radius: 20px;
  cursor: pointer;
}

.add_button button:hover::before {
  animation: shine 0.8s forwards;
}


.add_button button:hover {
  background-color: #61C6DF;
  opacity: 1;
}

.add_button button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 96%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}



@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.validate {
  display: flex;
  gap: 20px;
  margin-top: 7px;
  background-color: #E7E9FE;
  padding: 3px 70px;
  border-radius: 40px;
  color: #586BFF;
  letter-spacing: 2px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.validate p {
  margin: 0;
  font-size: 12px;
}

.validate-wrapper {
  display: block;
  transform: translateY(-10px);
  animation: fadeSlideIn 1s ease forwards;
}

.error {
  color: #ff0000;
}

.input-error {
  border: 2px solid #f44336;
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.6);
}

.error-space {
  height: 20px;
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 5px;
}

.toggle:hover,
.toggle button svg:hover {
  color: #fff;
  border-radius: 10px;
  padding: 3px 10px;
  box-shadow: none;
}

.toggleTr1,
.toggleTr2,
.toggleTr3,
.toggleTr4,
.toggleTr5 {
  background-color: #61C6DF;
  color: #fff;
  text-align: end;
}

/* main contant ------------------------------------ */
.contant {
  align-items: center;
  width: 93%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: auto;
}

.section {
  width: 98%;
  display: flex;
}

/* ナビゲーションバー ------------------------------------ */
.navigate {
  background-color: #fff;
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto auto auto;
}

.navigate nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 1.3rem;

}

.navigate li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
  width: 87%;
  margin: 30px auto;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-nav li {
  background-color: #FFA83F;
  opacity: 1;
  padding: 40px 40px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  border-top: 3px dashed black;
  z-index: -1;
}

.main-nav .phase1:hover,
.main-nav .phase2:hover,
.main-nav .phase3:hover,
.main-nav .phase4:hover,
.main-nav .phase5:hover {
  background-color: #FFA83F;
}

/* 各フェーズの目次 ------------------------------------ */
.list {
  width: 95%;
  height: 74vh;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 0.5px solid #ddd;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.list-header .list-nav {
  display: flex;
  align-items: center;
}

.list-nav {
  display: flex;
  align-items: center;
}

/* チェックリストのテーブル-------------------------------------------------- */
.table-wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-height: 700px;
  border-radius: 20px;
  overflow-y: auto;

}

.table-contant {
  width: 100%;

}

.list table {
  width: 93%;
  border-collapse: separate;
  border-spacing: 0 6px;
  max-height: 500px;
  margin: 0 auto;
}

tbody {
  border-radius: 10px;
  margin-bottom: 20px;
}

tbody tr {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: rgba(230, 246, 250, 0.7);
}

.checklist tbody td:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.checklist tbody td:nth-child(5) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.landsimulation {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.landsimulation tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.landsimulation tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.landsimulation tr {
  border-radius: 20px;
  overflow: hidden;
}


.checklist th,
.checklist td {
  text-align: center;
  padding: 10px;
}

.list th:nth-child(1),
.list td:nth-child(1) {
  width: 15%;
}

.list th:nth-child(2),
.list td:nth-child(2) {
  width: 45%;
  text-align: left;
}

.list th:nth-child(3),
.list td:nth-child(3) {
  width: 20%;
}

.list th:nth-child(4),
.list td:nth-child(4) {
  width: 10%;
}

.list th:nth-child(5),
.list td:nth-child(5) {
  width: 10%;
}

.list tbody tr {
  transition: transform 0.1s ease-in-out;
}

.checklist_input {
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  padding: 10px 10px;
  width: 70%;
}

.checklist_input:focus {
  outline: none;
  border: 2px solid #61C6DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:disabled {
  border: none;
  background: transparent;
}

input:checked+.slider {
  background-color: #586BFF;
}

input:checked+.slider:before {
  transform: translateX(24px);
}

tr.checked {
  background-color: #8C8C8C;
  opacity: 0.5;
}





/* phase1-------------------- */

/* .main-nav .phase2,
.main-nav .phase3,
.main-nav .phase4,
.main-nav .phase5 {
  background-color: #E7E9FE;
} */

.main-nav .phase1,
.main-nav .phase3,
.main-nav .phase4,
.main-nav .phase5 {
  background-color: #E7E9FE;
}


/* phase2------------------------------ */
.land2_add button {
  background-color: #576bf5;
  opacity: 0.7;
}

.land2_add button:hover {
  background-color: #576bf5;
  opacity: 1;
}

.marker-list {
  display: flex;
  margin: 20px auto;
  gap: 100px;
  width: 90%;
}

.update {
  font-size: 12px;
}

.cards {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  width: 700px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-main {
  width: 80%;
  margin: auto;
  padding: 20px 20px;
}

.card-right {
  width: 15%;
  background: linear-gradient(to bottom, rgba(88, 107, 255, 0.7), rgba(88, 107, 255, 0.6));
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;

}

.card-right nav {
  display: flex;
  flex-direction: column;
  /* margin-top: auto; */

}

.card-right nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-top: 30px;

}

.marker-listnav {
  border-bottom: 1px solid #ddd;
}

.marker-listnav-contant {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.marker-liststar {
  padding-top: 10px;
}

.maker-delete,
.maker-edit {
  background-color: #E7E9FE;
  border: solid 1px #8C8C8C;
  border-radius: 50px;
  box-shadow: none;
}


.maker-delete svg,
.maker-edit svg {
  padding: 8px;
}

.maker-delete:hover,
.maker-edit:hover {
  fill: #ffff;
  background-color: #576bf5;
  transform: translateY(-1px) scale(1.1);
  border: none;
}

.maker-delete:active,
.maker-edit:active {
  transform: translateY(2px);
}

.choice {
  background-color: #61C6DF;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.choice:hover {
  transform: none !important;
  box-shadow: none !important;
}

.visible {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(12px, 2vw, 16px);
}

.visible-contain {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
}

.visible-groupe p {
  margin-bottom: 8px;
}

.textarea-input {
  background-color: #E0E0E0;
  border-radius: 13px;
  padding: 8px 10px;
  width: 85%;
  margin: auto;
}

.add button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 15px 25px;
  border: none;
  color: #fff;
  margin-left: 500px;
}

.add button:hover {
  background-color: #586BFF;
  transform: translateY(-2px) scale(1.06);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* edit--------------------- */
.register button {
  background-color: rgba(87, 107, 245, 0.74);
  border-radius: 40px;
  padding: 20px 50px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.register button:hover {
  background-color: #586BFF;
  transform: translateY(-2px) scale(1.06);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.star-rating {
  margin-right: 30px;
}

.star-rating svg:hover {
  transform: translateY(-2px) scale(1.06);
}

.star-rating svg:active {
  transform: translateY(2px);
}


.star-rating .active {
  color: gold;
}

.star-check {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.marker-form {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  color: #8C8C8C;
}

.maker-left {
  width: 40%;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
}

.maker-right {
  width: 60%;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
}

.loanform-contant {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.makerform-contant {
  display: flex;
  width: 98%;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag-btn input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-btn {
  display: inline-block;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #ccc;
  padding: 5px 10px;

}

.checkbox-btn:hover {
  transform: translateY(-2px) scale(1.06);
  background-color: #61C6DF;
  color: #FFF;
}

.checkbox-btn:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 0 #aaa;
}


/* .tag-btn {
  padding: 9px 29px;
  border: none;
  border-radius: 20px;
  background-color: #D9F5FD;
  color: #61C6DF;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 8px;
} */

.tag-btn:hover,
.tag-btn:checked {
  transform: translateY(-2px) scale(1.05);
  background-color: #61C6DF;
  color: #fff;
  cursor: pointer;
}


.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.loanform-contant input,
.loanform-contant textarea,
.makerform-contant input,
.makerform-contant textarea,
.landform-contant input,
.landform-contant textarea {
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.loanform-contant input:focus,
.loanform-contant textarea:focus,
.makerform-contant input:focus,
.makerform-contant textarea:focus {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
}

.loanform-contant textarea,
.makerform-contant textarea {
  height: 120px;
}

.makerform-contant input {
  width: 70%;
}

.form-button input,
.star-check input {
  display: none;
}

.form-button label {
  padding: 9px 40px;
  border: none;
  border-radius: 20px;
  background-color: #D9F5FD;
  color: #61C6DF;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 8px;
  border: 1px solid rgba(176, 196, 255, 0.3);
}

.loanform-contant label {
  font-size: 18px;
}

.loanform-contant input {
  width: 700px
}

.checkbox-btn:hover {
  transform: translateY(-2px) scale(1.05);
  background-color: #61C6DF;
  color: #fff;
  cursor: pointer;
}

.checkbox-btn.active {
  background-color: #61C6DF;
  color: #fff;
}

/* phase3------------------- */

.loan-form {
  display: flex;
  color: #8C8C8C;
}

.loan-left {
  width: 50%;
}

.loan-right {
  width: 50%;
}

.loan-card {
  background-color: rgba(231, 233, 254, 0.3);
  border-radius: 20px;
  padding: 10px 10px;
  width: 90%;
}

.left-fix {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 90%;
}

.loanform-contant input {
  width: 40%;
}



.form-row {
  align-items: center;
}

.form-row input {
  font-size: 20px;
  border-radius: 50px;
  width: 7.3ch;
  margin: 0;

}

.valiableform-row {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.valiableform-row span {
  font-size: 25px;
  line-height: 1.8;
  color: #000000;
  text-align: center;
}

.form-valiable.highlight {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
  background-color: #576bf5;
  color: #fff;

}

.loan-span {
  font-size: 13px;
}

span {
  margin: 0 10px;
}

.chart-wrapper {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.calculate {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
  margin-top: 30px;
}


.calculate button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 20px 85px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}





.calculate button:hover {
  background-color: #586BFF;
  box-shadow: none;
  cursor: pointer;
}

.loan-register button {
  background-color: rgba(87, 107, 245, 0.54);
  border-radius: 40px;
  padding: 20px 80px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loan-register button:hover {
  background-color: rgba(87, 107, 245, 0.94);
}

.chart-wrapper {
  justify-content: center;
  margin-left: 80px;
}



/* phase4------------------- */

.land-form {
  color: #8C8C8C;
  display: flex;
}

.land-form form {
  display: flex;
}

.land-left {
  width: 45%;
  margin: 20px auto;
}

.land-card {
  width: 80%;
  background-color: rgba(231, 233, 254, 0.3);
  border-radius: 20px;
  padding: 20px 30px;
}

.land-right {
  width: 55%;
  margin: auto;
}

.land-left textarea {
  width: 60%;
  height: 50px;
}

.land-left-fix {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  /* margin-bottom: 15px; */
}

.land-calculate button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 20px 50px;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.landform-contant {
  margin-top: 13px;
}

.landform-contant input {
  border-radius: 50px;
  width: 50%;
}

.land-form-row {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.range {
  /* -webkit-appearance: none; */
  width: 380px;
  height: 10px;
  background: #576bf5;
  border-radius: 50px;
  outline: none;
}



.form-valiable {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 23px;
  padding: 10px 30px;
  background-color: #fff;
  align-items: center;
}


.long-p {
  display: inline-block;
  max-width: 60px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 13px;
  margin: 5px;
}


input.landinput {
  text-align: right;
  margin: 0;

}

.landinput::placeholder {
  color: #8C8C8C;
  opacity: 0.6;
}

.land-right-valiable {
  display: flex;
}

.land-list {
  /* border: #000000 1px solid; */
  width: 95%;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.land-list table thead {
  height: 50px;
}

.land-list th,
.land-list td {
  text-align: center;
  padding: 10px;
}

.land-list th:nth-child(1) {
  width: 10%;
}

.land-list th:nth-child(2) {
  width: 25%;
}

.land-list th:nth-child(3) {
  width: 10%;
}

.land-list th:nth-child(4) {
  width: 20%;
}

.land-list th:nth-child(5) {
  width: 25%;
}

.land-list th:nth-child(6) {
  width: 5%;
}

.land-list th:nth-child(7) {
  width: 5%;
}

/* phase4のテーブル */

.landtable-contant {
  width: 90%;
  margin: auto;
}

.land-table thead tr {
  height: 30px;
}


#volume {
  width: 80%;
}

.card-inner {
  display: flex;
  justify-content: space-between;
}

.card-inner-center {
  display: flex;
  justify-content: center;
}

.card-inner label {
  text-align: start;
}

.pagination {
  margin: auto;
}

.paginate-wrapper {
  display: flex;
}

.no-validate {
  display: none;
}

.edit-row,
.land-delete-btn,
.edit-list,
.delete-list,
.backEdit {
  background-color: #EEF8FB;
  border: none;
  border-radius: 15px;
}

.register-list,
.update-list {
  background-color: #61C6DF;
  border: none;
  border-radius: 20px;

}

.edit-row:hover,
.land-delete-btn:hover {
  cursor: pointer;

}



/* phase5-------------------- */
/* .main-nav .phase1,
.main-nav .phase2,
.main-nav .phase3,
.main-nav .phase4 {
  background-color: #E7E9FE;
} */



/* スマホ------------------------------------------- */
@media (max-width: 1024px) {
  .main-nav ul {
    gap: 80px;
  }
}

/* スマホサイズ向け */
@media (max-width: 768px) {
  .main-nav ul {
    gap: 40px;
    flex-wrap: wrap;
  }
}

.my-carousel-progress {
  background: #ccc;
}

.my-carousel-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}