body {
  height: 100vh;
  margin: 0;
  display: flex;
  background: conic-gradient(from 0deg at 50% 50%,
      #E6F6FA 0deg,
      #E6F6FA 60deg,
      #E6F6FA 90deg,
      #B0C4FF 230deg,
      #B0C4FF 290deg,
      #E6F6FA 360deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.validate {
  display: flex;
  gap: 20px;
  background-color: #E7E9FE;
  padding: 3px 200px;
  border-radius: 40px;
  color: #586BFF;
  letter-spacing: 2px;
  align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.validate p {
  margin: 0;
  font-size: 12px;
}

/* main ------------------------ */
.contant {
  align-items: center;
  width: 93%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: auto;
}

.section {
  width: 98%;
  display: flex;
}

.navigate {
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  height: 120px;
}

.navigate nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-nav {
  width: 87%;
  margin: 30px auto;

}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-nav li {
  background-color: #FFA83F;
  opacity: 1;
  padding: 40px 40px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-nav ul::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  border-top: 3px dashed black;
  z-index: -1;
}

.list {
  width: 95%;
  text-align: center;
  align-items: center;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #ddd;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.list-header .list-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add_button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.add_button button a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-nav {
  display: flex;
  align-items: center;
}

.table-wrapper {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.list table {
  width: 93%;
  border-collapse: separate;
  border-spacing: 0 12px;
  max-height: 500px;
  margin: 0 auto;
}


tbody {
  border-radius: 10px;
  margin-bottom: 20px;
}

tbody tr {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 10px;
}


.list th,
.list td {
  text-align: center;
  padding: 10px;
}

.list th:nth-child(1) {
  width: 10%;
}

.list th:nth-child(2) {
  width: 70%;
}

.list th:nth-child(3) {
  width: 10%;
}

.list th:nth-child(4) {
  width: 10%;
}

.checklist_input {
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  padding: 10px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #576bf5;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

/* @media (max-width: 1024px) {
  .main-nav ul {
    gap: 80px;
  }
}

/* スマホサイズ向け */
/* @media (max-width: 768px) {
  .main-nav ul {
    gap: 40px;
    flex-wrap: wrap;
  }
} */

/* phase1-------------------- */

/* .main-nav .phase2,
.main-nav .phase3,
.main-nav .phase4,
.main-nav .phase5 {
  background-color: #E7E9FE;
} */


/* phase2-------------------- */
.main-nav .phase1,
.main-nav .phase3,
.main-nav .phase4,
.main-nav .phase5 {
  background-color: #E7E9FE;
}

.marker-list {
  display: flex;
  margin: auto;
  gap: 100px;
}

.cards {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  width: 700px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-main {
  width: 80%;
  margin: auto;
  padding: 20px 20px;
}

.card-right {
  width: 20%;
  background-color: #576bf5;
  border-radius: 10px;
}

.card-right nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 410px;
}

.card-right nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.marker-listnav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.marker-liststar {
  padding: 10px;
  margin: auto;
}

.choice {
  background-color: #61C6DF;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.visible-contain {
  display: flex;
  gap: 50px;
}

.visible-groupe {
  padding: 5px;
}

/* edit--------------------- */
.register button {
  background-color: rgba(87, 107, 245, 0.74);
  border-radius: 40px;
  padding: 20px 50px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.register button:hover {
  background-color: #586BFF;
}

.star-rating {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
}

.star-rating .active {
  color: gold;
}


.marker-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #8C8C8C;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 20px 50px 20px;
}

.form-contant {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-contant button {
  padding: 9px 29px;
  border: none;
  border-radius: 20px;
  background-color: #D9F5FD;
  color: #61C6DF;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 8px;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.form-contant input,
.form-contant textarea {
  width: 70%;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  margin: auto;
}

.form-contant input:focus,
.form-contant textarea:focus {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
}

.form-contant textarea {
  height: 200px;
}

.form-contant button:hover,
.form-contant button:active {
  background-color: #61C6DF;
  color: #fff;
}


/* phase3------------------- */
.loan-form,
.land-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #8C8C8C;
}

.loan-card,
.land-card {
  width: 70%;
  margin: auto;
  background-color: rgba(231, 233, 254, 0.3);
  border-radius: 20px;
  padding: 30px 49px;

}

/* phase5-------------------- */
/* .main-nav .phase1,
.main-nav .phase2,
.main-nav .phase3,
.main-nav .phase4 {
  background-color: #E7E9FE;
} */